/* 헤더 */
/* 헤더 배경 지정 */
header{
    width: 100%;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}


/* 상단 헤더 */
/* 상단 헤더 컨테이너 */
.t_header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.t_header .h_logo{
    font-size: 40px;
}

/* 검색박스 */
.t_header .h_search{
    padding-left: 20px;
    width: 50%;
    height: 40px;

    border: 2px solid rgb(247, 47, 51);
    box-sizing: border-box;
}

/* 인포 */
.t_header .h_info > li{
    /* font-size: 15px; */
}
.t_header .h_info > li > a{
    padding: 0 10px;
    font-size: 20px;
}


/* 하단헤더 */
.b_header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* 카테고리 부분 */
.b_header .h_category li{
    margin-right: 3%;
    border: 1px solid black;
    box-sizing: border-box;
}
.b_header .h_category li a{
    padding: 0 10px;
    font-size: 20px;
}

/* 로그인부분 */
.b_header .h_sign li a{
    padding: 0 10px;
    font-size: 20px;
}
.b_header .h_sign li{
    margin-left: 10px;
}





/* ******************** */
/* 메인 */
.main section{
    margin-bottom: 70px;
    width: 100%;
}

/* 섹션별 이름 */
.section_name {
    margin-bottom: 30px;
    font-size: 25px;
}



/* 광고배너 */
.ad_images{
    height: 300px;

    background: url(../images/index_banner/ad_1.png) no-repeat;
    background-size: 100%;
}



/* 공지사항과 커뮤니티 바로가기 배너 */
.notice_banner{
    display: flex;
    height: 200px;   
}
.notice_banner .notice{
    width: 50%;
    background: url(../images/index_banner/notice_banner.png) no-repeat;
    background-size: 100%;
}
.notice_banner .community{
    width: 50%;
    background: url(../images/index_banner/community_banner.png) no-repeat;
    background-size: 100%;
}



/* 인기상품과 최근상품 */
.sale_item{
    background-color: cadetblue;
}

/* 상품 아이템 박스 컨테이너*/
.sale_item .item_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* 상품 아이템들 */
.item_container .item_list{
    margin-bottom: 10px;
    width: 19%;
    padding: 1%;
    border: 1px solid;
    box-sizing: border-box;
    cursor: pointer;
}

/* 상품사진 */
.item_list .item_photo{
    width: 100%;
    height: 172px;
}
/* 상품이름 */
.item_list .item_name{
    margin: 5px 0 10px;
}
/* 상품가격 */
.item_list .item_info .item_price strong{
    font-size: 18px;
}
/* 올린시간 */
.item_list .item_info .item_time{
    font-size: 12px;
}





/* ******************** */
/* 푸터 */
/* 푸터 배경 */
footer{
    width: 100%;
    height: 300px;
    background-color: #ccc;
}