<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.springboot.jcmarket.domain.chat.ChatRepository">
	<select id="getChatListAll"
		resultType="com.springboot.jcmarket.domain.chat.Chat">
		SELECT cm.seller_id,cm.buyer_id,cm.item_code,cd.writer_nickname,  cd.chat_date  FROM
		chat_mst cm LEFT OUTER JOIN user_mst um ON
		(um.id=cm.buyer_id or um.id=cm.seller_id)
		LEFT OUTER JOIN product_mst pm
		ON(pm.item_code=cm.item_code) LEFT OUTER JOIN chat_dtl cd ON(cd.item_code=cm.item_code AND
		cd.buyer_id=cm.buyer_id and cd.seller_id=cm.seller_id)
		WHERE um.user_nickname=#{user_nickname} AND cd.chat_content IS NOT NULL
		ORDER BY chat_date asc
	</select>
	<select id="getChatting"
		resultType="com.springboot.jcmarket.domain.chat.Chat"
		parameterType="com.springboot.jcmarket.domain.chat.Chat">
		select
		*
		from
		chat_dtl cd
		left outer join chat_mst cm on(cm.buyer_id = cd.buyer_id aND cm.item_code= cd.item_code AND cm.seller_id=cd.seller_id)
		where
		cd.buyer_id = #{buyer_id} and cd.seller_id=#{seller_id} and cd.item_code= #{item_code}
	</select>
	<insert id="">
		select
	</insert>

</mapper>