<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.jcmarket.domain.chat.ChatRepository">
	<select id="getChatListAll" 
			resultType="com.springboot.jcmarket.domain.chat.Chat">
		SELECT
			cm.update_date,
			cm.item_code,
			cm.buyer_id,
			um1.user_nickname AS buyer_nickname,
			cm.seller_id,
			um2.user_nickname AS seller_nickname
		FROM
			chat_mst cm
			LEFT OUTER JOIN user_mst um1 ON(um1.id = cm.buyer_id)
			LEFT OUTER JOIN user_mst um2 ON(um2.id = cm.seller_id)
		WHERE
			cm.buyer_id = #{id}
		OR cm.seller_id = #{id}
		ORDER BY
			update_date desc;
	</select>
	
	<select id="getChatting" resultType="com.springboot.jcmarket.domain.chat.Chat"	parameterType="com.springboot.jcmarket.domain.chat.Chat">
		select
		 cm.buyer_id, cm.seller_id, cm.item_code,cd.writer_nickname, cd.chat_date ,cd.chat_content
		from
		chat_dtl cd
		left outer join chat_mst cm on(cm.buyer_id = cd.buyer_id aND cm.item_code= cd.item_code AND cm.seller_id=cd.seller_id)
		where
		cd.buyer_id = #{buyer_id} and cd.seller_id=#{seller_id} and cd.item_code= #{item_code}
	</select>
	
	<insert id="Chattinginput" parameterType="com.springboot.jcmarket.domain.chat.Chat" >
insert into
			chat_dtl
		values(  
		    #{item_code},#{buyer_id},#{seller_id},0,#{writer_nickname},#{chat_content},NOW(),NOW()
		)
	</insert>

</mapper>