<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.springboot.jcmarket.domain.notice.NoticeRepository">
  
  	<!-- 공지사항 리스트 가져오는것 -->
	<select id="getNoticeListAll" resultType="com.springboot.jcmarket.domain.notice.Notice">
		SELECT
			*
		FROM
			notice_mst
		ORDER BY notice_code desc
	</select>
	
	<!-- 공지사항 디테일 가져옴 -->
	<select id="getNoticeDtl" resultType="com.springboot.jcmarket.domain.notice.Notice">
		SELECT
			nm.notice_code,
			nm.notice_title,
			nm.notice_writer,
			nm.notice_count,
			nm.notice_date,
			nd.update_date,
			nd.notice_content,
			nd.originFileNames,
			nd.tempFileNames
		FROM
			notice_mst nm
			LEFT OUTER JOIN notice_dtl nd ON(nd.notice_code = nm.notice_code)
		WHERE
			nm.notice_code = #{notice_code}
		LIMIT
			1;
	</select>



	
  </mapper>