<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.springboot.jcmarket.domain.product.ProductRepository">
     <insert id = "addLike"  parameterType="com.springboot.jcmarket.domain.product.Product">
        insert into
         product_like
        values 
        (
         0,
         #{user_id},
         #{item_code},
         now()
        )

     </insert>
      
      
    <delete id = "deleteLike" parameterType="com.springboot.jcmarket.domain.product.Product">
       delete
        from
         product_like
       where
        user_id = #{user_id} and item_code = #{item_code}  
    
    </delete>
  
    <update id = "upLikeCount" parameterType="com.springboot.jcmarket.domain.product.Product">
       update
        product_mst
       set
        like_count = #{like_count} + 1
       where
        item_code = #{item_code}
    
    </update>
    
     <update id = "downLikeCount" parameterType="com.springboot.jcmarket.domain.product.Product">
       update
        product_mst
       set
        like_count = #{like_count} - 1
       where
        item_code = #{item_code}
    
    </update>
    
    <select id = "getLikeCount" parameterType="com.springboot.jcmarket.domain.product.Product" resultType="Integer">
      select
        like_count
      from
        product_mst
      where
        item_code = #{item_code}
     
    </select>
    
  
  
  
  
  </mapper>