/* 로그인, 회원가입 공통 CSS */

body{
    background-color:  rgb(240, 240, 240);
}

/* 컨테이너 */
.sign_container{
    margin: 100px auto;
    width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    box-shadow: rgb(0 0 0 / 10%) 0px 3px 6px 0px;
}


/* 페이지 제목 */
.sign_name {
    margin: 30px auto;
    font-size: 30px;
}
.sign_exp{
    margin: 0 auto;
}
  

/* 폼 */
.sign_form {
    margin: 50px 0 30px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* 폼 내부 input과 .submit_btn 공통 */
.sign_form input, .sign_form .submit_btn {
    margin-top: 20px;
    width: 90%;
    height: 30px;
    font-size: 20px;
    box-sizing: border-box;
}

/* input박스 디자인 */
.sign_form input {
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
}

/* 버튼 디자인 */
.sign_form .submit_btn{
    height: 70px;
    color: white;
    border: none;
    background-color: rgba(247, 47, 50);
   	opacity: 0.3;
}
/* input입력이 완료된 경우 */
/* .sign_form .submit_btn{
    background-color: rgb(247, 47, 50);
} */

/* 처음 submit_btn 비활성화  */
.disabled {
	 opacity: 0.3;
     pointer-events : none;
}

/* 에러메시지 */
.e_msg{
    width: 90%;
    color: red;
    display:none;
}
/* 성공메시지 */
.s_msg{
    width: 90%;
    color: green;
}
.msg {
    width: 90%;
    color: red;
    
}

.invisible {
    display: none;
}

.visible {
    display: block;
}