.footer{
    display: flex;
    justify-content: space-between ;
    margin-left: 100px;
    margin-right: 100px;
	
}
.line{
	border-top: 1px solid black;
}
.jeon{
    text-align: center;
}
.lee{
    text-align: center;
}
.kang{
    text-align: center;
}
.image{
    border-radius: 40px;
}