/* 로그인 선택 이름 */
.sign_container .login_name{
    margin: 0 auto;
    font-size: 40px;
}
.sign_container p{
    margin: 0 auto;
}

/* 로그인 수단 선택 */
.sign_container .login_option{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login_option button{
    margin-bottom: 10px;
    width: 90%;
    height: 40px;
    font-size: 18px;

    border: none;
    border-radius: 5px;
    background-color: white;
}
.login_option button:hover{
    box-shadow: 1px 1px 10px gray;
}